<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>


  <!-- D3 CDN -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  
 <!-- Leaflet CSS -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
 
<!-- -----Bootstrap---- -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


  <!-- FLASK -- ****CHECK FOLDER STRUCTURE**** (static/style.css.....)> -->
  <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
  <!-- <link ref="stylesheet" href="{{url_for('static',filename = 'd3Style.css')}}"> -->
 
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">         
    <title>PLan Your European Holiday</title>
</head>

<body>
  <div class="container div_position">
    <img src="static/long.jpg" width="100%" height="100%" alt="head-imge">
  </div>


  <div class="container div_position">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/map">Plan Your Holiday</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Country Comparison
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/radareastern">Eastern Europe</a></li>
                <li><a class="dropdown-item" href="/mediterranean">Mediterranean</a></li>
                <li><a class="dropdown-item" href="/scandinavia">Scandinavia</a></li>
                <li><a class="dropdown-item" href="/westerneurope">Western Europe</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/bar">Bar Chart Comparison</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/statistic">Country Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
    
  <div class="container div_position">
    <div class="row">
          <br>
          <h3 style="padding:20px;">About Us</h3>
          <p>This team came together through the Monash University Data Analytics Bootcamp where we were tasked with developing a website that tells a story through interactive visualisations.</p>
          <ul><p>The members of the team (in no particular order) are:</p>
          <li><strong>Anna Broomhall</strong></li>
          <li><strong>Jing Davies</strong></li>
          <li><strong>Wei (William) Ke</strong></li>
          <li><strong>James Rydlewski</strong></li>
          <li><strong>Josh Borschman</strong></li>
          <li><strong>Kiran Bano</strong></li>
          </ul>

          <p>We chose to couch those visualisations in the context of planning a holiday, this allowed the user to ‘choose their own adventure’ and encouraged them to find ways to interpret the data that were meaningful to them.</p>
          <p>The ETL process was quite interesting, most of the data was gathered from Kaggle with the images scraped from various websites. This task proved tricker than expected as many of the websites did not seem to have a logical structure and finding the image locations was very difficult.</p>
          <p>We used <strong>Python</strong> for our data transformation process this primarily involved basic data cleaning. Though some data had to be significantly transformed to be fit for purpose. One example of this is our Safety Chart where the data had to be interpreted in such a way that all high scores were considered the best score. A high crime rate and a high trust in police do not mean the same thing. It was determined that the crime rate would be interpreted as ‘Safety from Crime’ to use the inverse number of the data (if crime rate was 14% safety from crime was 86% and so on).</p>
          <p>With the data transformed a <strong>Flask</strong> server was used to load the data into an <strong>SQL Postgres</strong> server on Heroku.</p>
          <p>Then we finally got to tell the story! <strong>D3.js</strong> was used to plot all the charts and we ensured that we used some visualisations we had never come across before (like the radar charts) to learn something new. <strong>Mapbox</strong> and <strong>Leaflet</strong> were utilised to generate our interactive maps and all the maps generate from the data on the server so they can be updated.</p>
          <p>These visualisations were then put together on a website using <strong>HTML</strong> and <strong>CSS(bootstrap)</strong> to complete this final product.</p>
          <p>This has been an excellent team and we are very proud of what we have put together, we hope you enjoy it too!</p>

          <p><strong>Data Source:</strong></p>
          <p><a href="https://www.kaggle.com/headsortails/train-stations-in-europe">Train Station</a></p>
          <p><a href="https://www.kaggle.com/jiashenliu/515k-hotel-reviews-data-in-europe">Hotel Reviews</a></p>
          <p><a href="https://www.kaggle.com/stefanoleone992/tripadvisor-european-restaurants">Restaurant Reviews</a></p>
          <p><a href="https://www.kaggle.com/roshansharma/europe-datasets">Country Statistics</a></p>
          <p><a href="https://simplemaps.com/data/world-cities">World Cities</a></p>
          
          

    </div>
  </div>
    
 
<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
crossorigin=""></script>

<!-- API Key -->
  <!-- <script type="text/javascript" src="config.js"></script> -->
  <script src="{{url_for('static',filename='config.js')}}"></script>

  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  
</body>

</html>