<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>


  <!-- D3 CDN -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  
 <!-- Leaflet CSS -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
 
  <!-- FLASK -- ****CHECK FOLDER STRUCTURE**** (static/style.css.....)> -->
  <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
  <!-- <link ref="stylesheet" href="{{url_for('static',filename = 'd3Style.css')}}"> -->
 
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">         
    <title>PLan Your European Holiday</title>
</head>

<body>
  <div class="container div_position">
    <img src="static/long.jpg" width="100%" height="100%" alt="head-imge">
  </div>


  <div class="container div_position">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/map">Plan Your Holiday</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comparison">Country Comparison</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/statistic">Country Statistic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About Us</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  </div>
    
  <div class="container div_position">
    <div class="row">
          <br>
          <h3 style="padding:20px;">Plan your European Holiday!</h3>
          <p>While we're stuck in COVID-induced lockdown in Melbourne, can anyone really blame you for wanting to plan your next holiday?</p>
          <p>And where better to holiday than Europe – the delectable buffet of options can hit your craving, whether that is plundering pizza and pasta in Milan, crunching on croissants and coffee<strong>^</strong> in Paris or sipping steins<strong>^^</strong> and sweet strudels in Vienna.</p>
          <p>In order to whet your appetite, have fun perusing some images of the most popular cities below, before diving into some Country Comparisons. </p>
          <p>Is safety important to you or will you be diving headfirst out of a plane in Lauterbrunnen, Switzerland?  Is pollution important to avoid or are you the type to hire a Humvee in Munich and drive through the Black Forest?</p>
          <p>Finally we've done some of the hard work for you and investigated a handful of the most popular cities.  Zoom in and take a look around at the restaurants, hotels and train stations.  Of course this is a luxury holiday so no budget backpackers or dodgy diners are included on our map – rest assured it's 5 stars all the way.</p>
          <p>So come away with us!</p>
          <p style="font-size: small;"><strong>^</strong> As a true Melburnian please be warned about European coffee… Melbourne truly is the home of great coffee.  But rest assured if you're from Sydney you'll probably enjoy it just fine.</p>
          <p style="font-size: small;"><strong>^^</strong> Be doubly warned - if you do not drink European beer in Australia, it may ruin Carlton Draught or Victoria Bitter for you... the European Beer selection at your local Dan Murphy's is there for a reason.</p>
    </div>
  </div>
    

  <div class="container div_position" id="map"> -->
    <!-- Cities Map Here from app.js -->
  </div>
 
<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
crossorigin=""></script>

<!-- API Key -->
  <!-- <script type="text/javascript" src="config.js"></script> -->
  <script src="{{url_for('static',filename='config.js')}}"></script>

  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  
  <!-- Our JavaScript -->
  <!-- <script type="text/javascript" src="Leaflet-Step-1/static/js/logic.js"></script> -->
  <!-- <script type="text/javascript" src="Leaflet-Step-2/static/js/logic.js"></script> -->

  <!-- Leaflet heatmap plugin-->
  <!-- <script type="text/javascript" src="Leaflet-Step-1/static/js/leaflet-heat.js"></script> -->
  
  <!-- =======================OUR JS FILES============================= -->
  
  <script src="{{url_for('static',filename='app.js')}}"></script>

</body>

</html>