<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>


  <!-- D3 CDN -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  
 <!-- Leaflet CSS -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
 
 <!-- -----Bootstrap---- -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


  <!-- FLASK -- ****CHECK FOLDER STRUCTURE**** (static/style.css.....)> -->
  <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
  <!-- <link ref="stylesheet" href="{{url_for('static',filename = 'd3Style.css')}}"> -->
 
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">         
    <title>PLan Your European Holiday</title>
</head>

<!-- <body>     style="background-color:#e8edf0;"> -->
<body>
  <div class="container div_position">
    <img src="static/long.jpg" width="1300" height="300" alt="head-imge">
  </div>

  <div class="container div_position">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/map">Plan Your Holiday</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Country Comparison
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/radareastern">Eastern Europe</a></li>
                <li><a class="dropdown-item" href="/mediterranean">Mediterranean</a></li>
                <li><a class="dropdown-item" href="/scandinavia">Scandinavia</a></li>
                <li><a class="dropdown-item" href="/westerneurope">Western Europe</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/bar">Bar Chart Comparison</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/statistic">Country Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


    
  <div class="container div_position">
    <div class="row">
          <br>
          <h3 style="padding: 20px;">Here comes the fun part...</h3>
          <p>Now that you've worked out the metrics that matter to you, let's kick the analyst out of the driver's seat and let the dreamer take control.</p>
            <p>The first thing to see is the cities - as you click on <img src="static/images/city3.png" width="50px", height="50px" alt="City"> you'll see the name of the city and country to allow you to navigate around. </p>
            <p>In the top right corner of the map, you'll have the option to turn on Restaurants <img src="static/images/restaurant2.png" width="50px", height="50px" alt="Restaurant"> or Train Stations <img src="static/images/train4.png" width="50px", height="50px" alt="Train"> or Hotels <img src="static/images/hotel4.png" width="50px", height="50px" alt="Hotel">.  As you click on each Marker, you'll find useful information to help you dream away your dreary lockdown day.</p>
            <p>Remember - this is a luxury holiday so only high quality restaurants and hotels are available.</p>
    </div>
  </div>
    
  <!-- <div class="container div_position"> -->
    <div class="container div_position" id="map">

    <!-- Cities Map Here from app.js -->
    </div>
  <!-- </div> -->

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
crossorigin=""></script>

<!-- API Key -->
  <!-- <script type="text/javascript" src="config.js"></script> -->
  <script src="{{url_for('static',filename='config.js')}}"></script>

  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>

  <!-- Leaflet CSS ANNA -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.min.js"></script>
  
  <!--<script src="static/js/leaflet.extra-markers.min.js"></script>-->
  <script type="text/css"  src="static/awesomemarkers.css"></script>

  <!-- Marker Cluster CSS -->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

    <!-- Marker Cluster JS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css">
    <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.Default.css">

  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="static/leaflet.extra-markers.min.css">
  
  <!-- =======================OUR JS FILES============================= -->
  
  <script src="{{url_for('static',filename='map.js')}}"></script>

</body>

</html>