<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>


  <!-- D3 CDN -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  
 <!-- Leaflet CSS -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
 
  <!-- FLASK -- ****CHECK FOLDER STRUCTURE**** (static/style.css.....)> -->
  <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
  <!-- <link ref="stylesheet" href="{{url_for('static',filename = 'd3Style.css')}}"> -->
 
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">         
    <title>Country Statistics</title>
</head>

<!-- <body>     style="background-color:#e8edf0;"> -->
<body>
  <div class="container div_position">
    <img src="../static/long.jpg" width="100%" height="100%" alt="head-imge">
  </div>


  <div class="container div_position">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/map">Plan Your Holiday</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comparison">Country Comparison</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/statistic">Country Statistics</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>


  <!-- <nav>
        <div class="container">
        <a class="navbar-brand" href="#">
        </a>
        <nav class="navbar">
      
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="Country Statistics.html">Country Statistics</a></li>
            <li><a href="Country Comparison.html">Country Comparison</a></li>
            <li><a href="Plan Your Stay.html">Plan Your Stay</a></li>
        </ul>
        </div>
  </nav> -->
    
  <div class="container div_position">
    <div class="row">
          <h3>Country Statistics</h3>
          <p>Josh's notes here</p>
          <p>Josh's notes here</p>
          <p>Josh's notes here</p>
          
    </div>
  </div>
    
  <!-- <div class="container div_position"> -->
    <div class="container div_position" id="statistic">
        <img src="/static/images/Statistic.PNG" height="75%" width="75%"></img>
    </div>
    
  <!-- </div> -->

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
crossorigin=""></script>

<!-- API Key -->
  <!-- <script type="text/javascript" src="config.js"></script> -->
  <script src="{{url_for('static',filename='config.js')}}"></script>

  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  
  
  <!-- =======================OUR JS FILES============================= -->
  
  <script src="{{url_for('static',filename='safety-app.js')}}"></script>

</body>

</html>